.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 100%;
  display: flex;
  gap: var(--mantine-spacing-sm);
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  overflow: hidden;
}

.leftSection {
  min-width: 0;
  flex: 1;
}

.breadcrumbs {
  min-width: 0;
}

.topLinks {
  max-width: min(42vw, 24rem);
  min-width: 0;
  flex: 0 1 auto;
  overflow: hidden;
}

.mainContent {
  position: relative;
  z-index: 1;
}

.link {
  display: block;
  white-space: nowrap;
  line-height: 1;
  padding: rem(5px) rem(8px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
  }

  &[data-active] {
    background-color: var(--mantine-color-blue-7);
    color: var(--mantine-color-white);

    &:hover {
      background-color: var(--mantine-color-blue-9);
    }
  }
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
